@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-segmented-group{
    background-color: #edecfb;
    padding: 0px 20px;
    gap: 20px;
}
.ant-segmented-item-input{
    background-color: bisque;
}